.main {
  background-color: #1B1D39;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slider {
  transform: rotate(-90deg);
  background-color: transparent;
  -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track {
  background: #F79158;
  height: 10px;
  border-radius: 4px;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  background: #4B72FF;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  border-radius: 9999px;
  -webkit-appearance: none;
}

.canvasHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}

.parentSlider {
  display: block;
  align-self: center;
  width: 300px;
}
.customButton {
  border-radius: 0.8rem;
  width: 6rem;
  height: 2rem;
}